
/* 
      GENERAL
                */
body {
  color: #666;
}
.navbar {
  margin-bottom: 0;
}
.dropdown-menu {
  padding-top:0;
}
.dropdown-header {
  background-color: #ededed;
  border-top: 1px solid #e5e5e5;
  margin-top: 5px;
}
pre {
  overflow: auto;
  background-color: #f8f8f8;
}
footer {
  background: #333333 url('../images/congruent_outline.png');
  border-top: 1px solid #ccc;
  padding: 30px 0 20px;
}
footer p {
  float: left;
  clear:left;
}
footer a {
  margin: 0 10px;  
}
footer, footer a, footer a:hover {
  color: #aaa;
}
.scilife-footer {
  margin-top: -6px;
  float:right;
}
@media (max-width: 992px) {
  .scilife-footer {
    float:left;
    clear:left;
  }
}
.scilife-footer img {
  height: 40px;
}

.language-yaml {
  color: #d14;
}
.hljs-attr, .hljs-bullet {
  color: #333;
}


/* 
      HEADER
                */
.navbar {
  background: transparent;
}
@media (min-width: 992px) {
  .navbar {
    border: none;
  }
}
.navbar .navbar-nav > li > a {
  padding: 8px 15px;
  margin: 10px;
  border-radius: 5px;
}
.navbar .navbar-nav > li.active > a {
  background-color: rgba(0,0,0, 0.3);
}
.header {
  background: #333333 url('../images/congruent_outline.png');
  box-shadow: 0 0 20px #999;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  #mqc_homepage .header {
      margin-bottom: 570px;
  }
}
.header .lead {
  font-size: 24px;
  color: #ddd;
}
.header object {
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(0 1px 2px #222);
	filter: drop-shadow(0 1px 2px #222);
}
.header object, .header h1 img {
  height: 130px;
  max-width: 100%;
}
.header p {
  font-size: 18px;
  color: #aaa;
  text-shadow: 0 1px 2px #222;
}
.header .btn {
  margin: 15px 0;
}
.header i.fa {
  margin-right: 10px;
}
.header .panel {
  margin: 0;
}
.header .panel-heading {
  text-align: center;
  font-size: 18px;
}
.header .panel-body {
  padding:0;
  background-color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header pre {
  background-color:transparent;
  color: #ccc;
  padding: 7px 10px;
  font-size: 14px;
  margin: 0;
  border: 0;
  border-radius: 0;
}
code .comment {
  color: #999;
}
.header .sub-panel {
  margin: 10px 0 0;
  font-size: 12px;
  color: #999;
  text-shadow: none;
}
.header .sub-panel a {
  color: #999;
  border-bottom: 1px dotted #666;
}
.header .sub-panel a:hover {
  text-decoration: none;
  border-bottom: 1px solid #666;
}
#iframe_browser {
  width: 100%;
  height: 630px;
  margin: 30px 0 -500px;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  box-shadow: 2px 3px 4px rgba(51,51,51, 0.2);
}
#iframe_browser_header {
  height: 30px;
  padding: 7px 5px;
}
#iframe_browser_header span {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #eee;
    border: 1px solid #bbb;
    float: left;
    margin: 2px 0 0 4px;
}
#iframe_browser_header span:first-of-type { background-color: #FCAEAE; }
#iframe_browser_header span:nth-of-type(2){ background-color: #E8E346; }
#iframe_browser_header span:last-of-type{ background-color: #7EE872; }
#iframe_browser_header p {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  margin-left: 60px;
  text-shadow: none;
}
#iframe_browser iframe {
  width: 100%;
  height: 597px;
  border: none;
}


/* 
      CONTENT
                */

@media (min-width: 992px) {
  body {
    background-color: #ededed;
  }
  .content_block {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 4px rgba(51,51,51, 0.2);
  }
}

.content-lead {
  text-align: center;
  font-size: 28px;
  color: #888;
  font-weight: 200;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .content-lead {
    font-size: 21px;
  }
}

section {
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 1px solid #dedede;
}

section h3 {
  margin: 40px 0 20px 20px;
}
section p {
  font-size: 18px;
}
section p, section .btn, section .btn-group {
  margin-left: 20px;
}

.feature-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 22px;
  text-align: center;
}
.feature-icons li {
  display: inline-block;
  color: #999999;
  margin: 20px;
}
.feature-icons li .fa {
  color: #e0e0e0;
  margin: 0 15px;
}

.focus-section {
  padding: 40px 0 30px;
  text-align: center;
  margin-bottom: 0;
}
.focus-section h2 {
  margin: 0 0 20px;
}
.focus-section p {
  margin-bottom: 20px;
  line-height: 1.8;
}


/*
    DOCS
            */
#mqc_docs {
  background-color: #FFF;
}
.docs-container {
  text-align: justify;
}
.docs_block {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 3px dashed #ccc;
}
.docs-container h1 {
  font-size: 46px;
  border-left: 2px solid #333;
  background-color: #ededed;
  padding: 10px;
}
.docs-container h1.section-header {
  font-size: 5em;
  color: #454545;
  border: 1px solid #999;
  border-left: 6px solid #333;
  padding-left: 15px;
}
.docs-container img {
  max-width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.header-link {
  color: #333;
  font-size: 30px;
  position: absolute;
  left: -22px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
h1:hover .header-link, h1:active .header-link, h1:focus .header-link,
h2:hover .header-link, h2:active .header-link, h2:focus .header-link,
h3:hover .header-link, h3:active .header-link, h3:focus .header-link {
  opacity: 1;
}

h1 .header-link { margin-top: 12px; }
h1.section-header .header-link { margin-top: 23px; }

#toc {
  margin-top:10px;
}
.affix {
  top: 20px;
}
@media (max-width: 768px) {
  .affix {
    position: static;
  }
}
#toc .nav li a {
  font-weight: bold;
}
#toc .nav .nav li a {
  font-weight: normal;
}
#toc .nav .nav {
  margin-left: 10px;
    display: none;
}
#toc .nav .nav .nav {
  font-size:12px;
  margin-left: 20px;
}
#toc .nav .nav .nav .nav {
  margin-left: 10px;
}
#toc .nav .nav .nav li a {
  padding: 5px 7px;
}

#toc .nav > .active > ul {
	display: block;
}
#toc .nav .nav li.active > a {
  border-left: 3px solid #337ab7;
}
#toc .nav .nav .nav li.active > a {
  border-left: 1px solid #337ab7;
  background-color: #eee;
}
#toc .nav .nav .nav .nav li.active > a {
  border-left: 1px solid #337ab7;
  background-color: transparent;
}

