---
import DocsLayout from "@layouts/DocsLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../../../MultiQC/docs/core/**/*.md");
  function get_slug(filename: string) {
    let slug = filename
      .split("/docs/core/")
      .pop()
      .replace(/.md$/, "")
      .replace(/\/index$/, "");
    if (slug == "index") {
      return; // root /docs index - return null for no slug
    }
    return slug;
  }
  return posts.map((post) => ({
    params: {
      slug: get_slug(post.file),
    },
    props: {
      post: post,
      frontmatter: post.frontmatter,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const gh_url =
  "https://github.com/ewels/MultiQC/blob/master/docs/core/" +
  Astro.props.post.file.split("/").pop();
const headings = Astro.props.post.getHeadings();
---

<DocsLayout
  title={frontmatter.title}
  subtitle={frontmatter.description}
  headings={headings}
  md_github_url={gh_url}
>
  <div class="prose max-w-none dark:prose-invert">
    <Content />
  </div>
</DocsLayout>
