---
import DocsLayout from "@layouts/DocsLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: {
      slug: doc.slug !== "index" ? doc.slug : undefined,
    },
    props: {
      doc: doc,
      frontmatter: doc.data,
    },
  }));
}

const { doc, frontmatter } = Astro.props;
const { headings, Content, remarkPluginFrontmatter } = await doc.render();

const headings_filtered = headings.filter((h) => h.depth >= 2 && h.depth <= 3);

// GitHub URL for the footer
const gh_url = "https://github.com/MultiQC/MultiQC/blob/main/docs/core/" + doc.id;

let section = doc.slug ? doc.slug.split("/")[0] : undefined;
// get section as first element of the slug convert to title case
section =
  section &&
  section
    .replace(/_/g, " ")
    .replace(/\w\S*/g, (txt) => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase())
    .replace("Core", "Getting Started");
---

<DocsLayout
  title={frontmatter.title}
  subtitle={frontmatter.description}
  section={section ? "Docs / " + section : ""}
  headings={headings_filtered}
  md_github_url={gh_url}
  image={frontmatter.social_image
    ? frontmatter.social_image
    : `/og.png?section=${encodeURIComponent("Docs / " + section)}&title=${encodeURIComponent(
        frontmatter.title
      )}`}
>
  <div class="prose max-w-none dark:prose-invert">
    <Content />
  </div>
</DocsLayout>
