---
import DocsLayout from "@layouts/DocsLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../../../MultiQC/docs/core/**/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.file.split("/").pop().replace(".md", ""),
    },
    props: {
      post: post,
      posts: posts,
      frontmatter: post.frontmatter,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<DocsLayout title={frontmatter.title} subtitle={frontmatter.description} pages={Astro.props.posts}>
  <div class="prose max-w-none dark:prose-invert">
    <Content />
  </div>
</DocsLayout>
