---
import PageLayout from "@layouts/PageLayout.astro";

const posts = await Astro.glob("../../../../MultiQC/docs/core/**/*.md");
---

<PageLayout>
  <div class="prose max-w-none dark:prose-invert xl:prose-lg">
    <p>Docs:</p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={post.file.split("/docs/core/").pop().replace(".md", "")}>
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
