@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    /*
    // Breaks tailwind .sticky elements
    @apply overflow-x-hidden;
    */
  }

  table td {
    border: 1px solid theme(colors.gray.200);
    @apply px-4 py-2 align-top;
  }

  table thead td {
    @apply bg-gray-100;
  }
}

@layer components {
  .typo-h1 {
    @apply font-display text-2xl font-semibold antialiased md:text-4xl lg:text-5xl;
  }

  .typo-h2 {
    @apply font-display text-2xl font-semibold antialiased md:text-3xl lg:text-4xl;
  }

  .typo-h3 {
    @apply font-display text-2xl font-semibold antialiased md:text-3xl;
  }

  .typo-h4 {
    @apply font-display text-xl font-semibold antialiased md:text-2xl;
  }

  .typo-h5 {
    @apply font-display text-base font-semibold tracking-wider antialiased;
  }

  .typo-h6 {
    @apply font-display text-base font-semibold antialiased;
  }

  .typo-blockquote {
    @apply font-body text-lg font-light antialiased lg:text-xl;
  }

  .typo-intro {
    @apply font-body text-base font-semibold antialiased;
  }

  .typo-body {
    @apply font-body text-base antialiased;
  }

  .typo-small {
    @apply font-body text-sm font-light antialiased;
  }

  .container-xl {
    @apply mx-auto px-4;
    max-width: 1440px;
  }

  .container-lg {
    @apply mx-auto px-8;
    max-width: 1300px;
  }

  .container-md {
    @apply mx-auto px-4;
    max-width: 1100px;
  }

  .container-sm {
    @apply mx-auto px-4;
    max-width: 900px;
  }

  .row {
    @apply -mx-4 flex flex-row flex-wrap;
  }

  .col {
    @apply px-4;
  }

  .col-shrink {
    @apply col flex-none;
  }

  .col-full {
    @apply col min-w-full flex-1/1;
  }

  .col-1 {
    @apply col min-w-1/12 flex-1/12;
  }

  .col-2 {
    @apply col min-w-2/12 flex-2/12;
  }

  .col-3 {
    @apply col min-w-3/12 flex-3/12;
  }

  .col-4 {
    @apply col min-w-4/12 flex-4/12;
  }

  .col-5 {
    @apply col min-w-5/12 flex-5/12;
  }

  .col-6 {
    @apply col min-w-6/12 flex-6/12;
  }

  .col-7 {
    @apply col min-w-7/12 flex-7/12;
  }

  .col-8 {
    @apply col min-w-8/12 flex-8/12;
  }

  .col-9 {
    @apply col min-w-9/12 flex-9/12;
  }

  .col-10 {
    @apply col min-w-10/12 flex-10/12;
  }

  .col-11 {
    @apply col min-w-11/12 flex-11/12;
  }

  .btn-primary {
    @apply bg-blue-600 text-white;
  }

  .btn-secondary {
    @apply border border-blue-600 bg-transparent text-blue-600 hover:bg-blue-600 hover:text-white;
  }

  .btn-accent-alt {
  }

  .toc.active a,
  .toc.active a:hover {
    @apply border-blue-600 bg-blue-100;
  }

  .typed {
    background: linear-gradient(180deg, #ee8899 0%, #ac77e7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .bg-gradient-accent {
    background-image: linear-gradient(237.19deg, #24aa60 30.22%, #4256e7 87.13%);
  }
}
