---
import PageLayout from "@layouts/PageLayout.astro";
import Button from "@components/Button.svelte";
import Card from "@components/Card.astro";
import { Icon } from "astro-icon/components";
---

<PageLayout
  title="MultiQC Publication Details"
  subtitle="Details about how to cite the MultiQC publication."
>
  <div class="mb-8 text-center">
    <p class="typo-h4 mb-3">Please consider citing MultiQC if you use it in your analysis.</p>
    <p class="typo-blockquote mb-6">
      Citing MultiQC supports the project by demonstrating usage within the community.
    </p>
    <Card>
      <p class="typo-intro">
        MultiQC: Summarize analysis results for multiple tools and samples in a single report
      </p>
      <p class="typo-body">
        Philip Ewels, Måns Magnusson, Sverker Lundin and Max Käller.
        <span class="ml-3 mr-1 italic">Bioinformatics</span> (2016)
        <br />
      </p>
    </Card>
  </div>
  <div class="row">
    <div class="col-full md:col-6 mb-8">
      <span
        class="__dimensions_badge_embed__ !text-center md:!text-right"
        data-doi="10.1093/bioinformatics/btw354"
        data-legend="always"></span>
      <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
    </div>
    <div class="col-full md:col-6 mb-8">
      <p class="text-center md:text-left">
        <Button
          to="http://dx.doi.org/10.1093/bioinformatics/btw354"
          variant="primary"
          size="md"
          arrow={true}
          client:visible
        >
          View the publication
        </Button>
      </p>
      <dl class="row mt-4">
        <dt class="col-2 font-bold">
          <abbr title="Digital object identifier">DOI:</abbr>
        </dt>
        <dd class="col-10">
          <a href="http://dx.doi.org/10.1093/bioinformatics/btw354" class="typo-link">
            10.1093/bioinformatics/btw354
          </a>
          <button
            class="copy-btn ml-5 text-xs opacity-60 transition-opacity hover:opacity-100"
            data-copytext="10.1093/bioinformatics/btw354"
          >
            <div class="copy-text">
              <Icon name="mdi:content-copy" class="inline h-4 w-4" />
              Copy
            </div>
            <div class="copied-text hidden">
              <Icon name="mdi:tick" class="inline h-4 w-4" />
              Copied - thanks!
            </div>
          </button>
        </dd>
        <dt class="col-2 font-bold">
          <abbr title="PubMed ID">PMID</abbr>:
        </dt>
        <dd class="col-10">
          <a href="http://www.ncbi.nlm.nih.gov/pubmed/27312411" class="typo-link">27312411</a>
          <button
            class="copy-btn ml-5 text-xs opacity-60 transition-opacity hover:opacity-100"
            data-copytext="27312411"
          >
            <div class="copy-text">
              <Icon name="mdi:content-copy" class="inline h-4 w-4" />
              Copy
            </div>
            <div class="copie-text hidden">
              <Icon name="mdi:tick" class="inline h-4 w-4" />
              Copied - thanks!
            </div>
          </button>
        </dd>
      </dl>
    </div>
  </div>

  <div class="my-8">
    <h2 class="typo-h3 my-4">Abstract</h2>

    <p class="typo-body custom my-4">
      <span class="mr-1 font-semibold underline">Motivation:</span> Fast and accurate quality control
      is essential for studies involving next-generation sequencing data. Whilst numerous tools exist
      to quantify QC metrics, there is no common approach to flexibly integrate these across tools and
      large sample sets. Assessing analysis results across an entire project can be time consuming and
      error prone; batch effects and outlier samples can easily be missed in the early stages of analysis.
    </p>
    <p class="typo-body my-4">
      <span class="mr-1 font-semibold underline">Results:</span> We present MultiQC, a tool to create
      a single report visualising output from multiple tools across many samples, enabling global trends
      and biases to be quickly identified. MultiQC can plot data from many common bioinformatics tools
      and is built to allow easy extension and customization.
    </p>
    <p class="typo-body my-4">
      <span class="mr-1 font-semibold underline">Availability:</span> MultiQC is available with an GNU
      GPLv3 license on GitHub, the Python Package Index and Bioconda. Documentation and example reports
      available at{" "}
      <a href="https://multiqc.info/" class="typo-link">https://multiqc.info/</a>
    </p>
    <p class="typo-small my-12 text-gray-600 dark:text-gray-400">
      This is an Open Access article distributed under the terms of the
      <a href="http://creativecommons.org/licenses/by/4.0/" class="typo-link">
        Creative Commons Attribution License
      </a>
      , which permits unrestricted reuse, distribution, and reproduction in any medium, provided the
      original work is properly cited.
    </p>
  </div>
</PageLayout>

<style type="text/css" is:global>
  .__dimensions_badge_embed__ .__dimensions_Badge_Legend_padding.__dimensions_Badge_Legend_always {
    background-color: transparent !important;
  }
  .dark .__dimensions_badge_embed__ .__dimensions_Badge_Legend div {
    color: #fff !important;
  }
  .__dimensions_badge_embed__ .__dimensions_Badge_Legend {
    margin-top: 1rem;
  }
</style>

<script>
  import confetti from "canvas-confetti";

  // Code copy button. Based on https://www.roboleary.net/2022/01/13/copy-code-to-clipboard-blog.html
  window.onload = function () {
    // wait another 100ms - WHY?
    // TODO: Figure out how to make this work without this hack
    setTimeout(() => {
      // "Copy code" button in code blocks
      document.querySelectorAll(".copy-btn").forEach((button) => {
        // only add button if browser supports Clipboard API
        if (!navigator.clipboard) {
          button.remove();
        } else {
          button.addEventListener("click", async (e) => {
            await copyCode(e.currentTarget);
          });
        }
      });
      async function copyCode(btn) {
        // visual feedback that task is completed
        btn.children[0].classList.add("hidden");
        btn.children[1].classList.remove("hidden");
        setTimeout(() => {
          btn.children[0].classList.remove("hidden");
          btn.children[1].classList.add("hidden");
        }, 3000);
        confetti({ origin: { y: 1 } });
        await navigator.clipboard.writeText(btn.getAttribute("data-copytext"));
      }
    }, 100);
  };
</script>
