---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@layouts/Hero.astro";
import Button from "@components/Button.astro";
---

<BaseLayout title="MultiQC Publication Details">
  <Hero>
    <div class="container-lg relative">
      <h1 class="typo-h2">MultiQC Publication Details</h1>
      <p class="typo-blockquote mt-4 lg:mt-8">Details about how to cite the MultiQC publication.</p>
    </div>
  </Hero>
  <div class="container-lg mt-20">
    <div class="row">
      <div class="col-full">
        <p class="typo-h4 mb-3">Please consider citing MultiQC if you use it in your analysis.</p>
        <p class="typo-blockquote mb-6">
          Citing MultiQC supports the project by demonstrating usage within the community.
        </p>
        <div class="row">
          <div class="col-full md:col-6 lg:col-8 mb-8">
            <p class="typo-intro">
              MultiQC: Summarize analysis results for multiple tools and samples in a single report
            </p>
            <p class="typo-body ">Philip Ewels, Måns Magnusson, Sverker Lundin and Max Käller.</p>
            <p class="typo-body">
              <span class="italic">Bioinformatics</span> (2016)
              <br />
            </p>
          </div>
          <div class="col-full md:col-6 lg:col-4 mb-8">
            <p>
              <Button to="http://dx.doi.org/10.1093/bioinformatics/btw354" variant="primary" size="md" arrow>
                View the publication
              </Button>
            </p>
            <dl class="row mt-4">
              <dt class="col-2 font-bold">
                <abbr title="Digital object identifier">DOI:</abbr>
              </dt>
              <dd class="col-10">
                <a href="http://dx.doi.org/10.1093/bioinformatics/btw354" class="text-blue-600">
                  10.1093/bioinformatics/btw354
                </a>
              </dd>
              <dt class="col-2 font-bold">
                <abbr title="PubMed ID">PMID</abbr>:
              </dt>
              <dd class="col-10">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/27312411" class="text-blue-600">27312411</a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <span
      class="__dimensions_badge_embed__"
      data-doi="10.1093/bioinformatics/btw354"
      data-legend="always"
      data-style="large_circle"></span>
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
  </div>
  <div class="container-lg my-8">
    <h2 class="typo-h3 my-4">Abstract</h2>

    <p class="typo-body my-4">
      <span class="font-semibold">Motivation:</span> Fast and accurate quality control is essential for studies involving
      next-generation sequencing data. Whilst numerous tools exist to quantify QC metrics, there is no common approach to
      flexibly integrate these across tools and large sample sets. Assessing analysis results across an entire project can
      be time consuming and error prone; batch effects and outlier samples can easily be missed in the early stages of analysis.
    </p>
    <p class="typo-body my-4">
      <span class="font-semibold">Results:</span> We present MultiQC, a tool to create a single report visualising output
      from multiple tools across many samples, enabling global trends and biases to be quickly identified. MultiQC can plot
      data from many common bioinformatics tools and is built to allow easy extension and customization.
    </p>
    <p class="typo-body my-4">
      <span class="font-semibold">Availability:</span> MultiQC is available with an GNU GPLv3 license on GitHub, the
      Python Package Index and Bioconda. Documentation and example reports available at{" "}
      <a href="https://multiqc.info/" class="text-blue-600">https://multiqc.info/</a>
    </p>
    <p class="typo-small my-12 text-gray-600">
      This is an Open Access article distributed under the terms of the{" "}
      <a href="http://creativecommons.org/licenses/by/4.0/" class="text-blue-600">
        Creative Commons Attribution License
      </a>
      , which permits unrestricted reuse, distribution, and reproduction in any medium, provided the original work is properly
      cited.
    </p>
  </div>
</BaseLayout>
