---
import PageLayout from "@layouts/PageLayout.astro";
import CommunityCard from "@components/CommunityCard.astro";
---

<PageLayout title="Community" subtitle="Find where the MultiQC community gets together.">
  <p class="typo-body mb-16">
    MultiQC is a community project, and we welcome contributions from everyone. The people who make
    up the community are enthusiastic and you'll find plenty of people willing to help out with any
    difficulties. If you have questions, ideas, or want to get involved, then please get in touch!
  </p>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">
    <CommunityCard
      title="GitHub"
      url="https://github.com/ewels/MultiQC"
      icon="mdi:github"
      icon_classes="dark:fill-white"
    >
      Star the <code class="rounded-sm bg-gray-200 px-2 dark:bg-gray-800/50">ewels/MultiQC</code> repository
      and keep track of development. Submit an issue if you find a bug or have a feature request, and
      come here to contribute code.
    </CommunityCard>
    <CommunityCard
      title="Slack"
      url="https://join.slack.com/t/multiqc/shared_invite/zt-1ps4q1u5x-2WtAJlZKMzMewURyxAChGA"
      icon="logos:slack-icon"
    >
      Join the community on Slack. Come here to ask questions, get help, share ideas and discuss
      features.
    </CommunityCard>
    <CommunityCard title="Twitter" url="https://twitter.com/MultiQC" icon="logos:twitter">
      Follow <code class="rounded-sm bg-gray-200 px-2 dark:bg-gray-800/50">@MultiQC</code> on twitter
      for news, tips and tricks. The best way to stay up to date with updates.
    </CommunityCard>
    <CommunityCard title="Mastodon" url="https://mstdn.science/@multiqc" icon="logos:mastodon-icon">
      Prefer toots to tweets? Follow <code class="rounded-sm bg-gray-200 px-2 dark:bg-gray-800/50"
        >@multiqc@mstdn.science</code
      > on Mastodon for news, tips and tricks. The best way to stay up to date with updates.
    </CommunityCard>
  </div>
</PageLayout>
