---
export const prerender = true;
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import ExamplesBrowser from "@components/ExamplesBrowser.svelte";
import { getCollection } from "astro:content";
import Button from "@components/Button.svelte";
import Card from "@components/Card.astro";
import mqc_releases from "../multiqc_releases.json";

import fs from "node:fs";
import { Icon } from "astro-icon";
import HomepageVideos from "@components/HomepageVideos.svelte";
import SnippetBox from "@components/SnippetBox.svelte";

const latestRelease = await fetch("https://api.github.com/repos/ewels/MultiQC/releases/latest")
  .then((response) => response.json())
  .then((data) => {
    if (!data.tag_name) {
      console.error("Error: Could not fetch latest release from GitHub API.");
      console.warn(data);
      return "";
    } else {
      mqc_releases.latest = data.tag_name;
      fs.writeFile("src/multiqc_releases.json", JSON.stringify(mqc_releases), (err) => {
        if (err) {
          console.error("Error writing multiqc_releases file!");
          console.warn(err);
        }
      });
      return data.tag_name;
    }
  });

const exampleReports = await getCollection("example-reports");
---

<BaseLayout
  title="MultiQC"
  subtitle="Aggregate results from bioinformatics analyses across many samples into a single report."
  image={"/images/default-og.png"}
>
  <Hero>
    <div class="container-lg relative">
      <div class="row">
        <div class="col-full lg:col-8">
          <div class="mb-10 flex-row items-end items-stretch text-right lg:flex">
            <div>
              <Icon name="multiqc_logo_light" class="logo w-full cursor-pointer lg:w-[430px]" />
              <a
                href="https://seqera.io"
                target="_blank"
                class="typo-small mt-4 inline-block text-gray-400 transition-colors hover:text-gray-100"
              >
                Supported by <Icon
                  name="seqera-logo-mono"
                  alt="Seqera Labs logo"
                  class="ml-2 inline h-6 fill-current"
                />
              </a>
            </div>
            <div class="grow pt-6">
              {
                latestRelease && (
                  <a
                    href="https://github.com/ewels/MultiQC/releases"
                    class="typo-small mb-6 block text-xs text-gray-300 transition-colors hover:text-gray-100"
                  >
                    Latest release: <strong class="ml-2">{latestRelease}</strong>
                  </a>
                )
              }
              <div
                class="hidden w-28 opacity-80 transition-opacity hover:opacity-100 lg:inline-block"
              >
                <span
                  class="__dimensions_badge_embed__ inline-block"
                  data-doi="10.1093/bioinformatics/btw354"
                  data-legend="never"
                  data-style="large_rectangle"></span>
                <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
              </div>
            </div>
          </div>
          <div class="rounded-sm bg-gradient-to-r from-pink-300 to-blue-300 text-gray-800">
            <div class="container-lg py-4">
              <div class="flex flex-row">
                <p class="typo-intro grow">
                  We're hiring!
                  <span class="ml-3 hidden font-normal lg:inline">
                    Let's build something amazing ✨
                  </span>
                </p>
                <Button
                  to="https://seqera.io/careers/multiqc-software-engineer"
                  variant="primary"
                  size="sm"
                  classes="ml-2"
                  arrow={true}
                  client:visible
                >
                  <span class="lg:hidden">See position</span>
                  <span class="hidden lg:inline">MultiQC developer</span>
                </Button>
              </div>
            </div>
          </div>
          <h1 class="typo-h4 mt-8">
            Aggregate results from bioinformatics analyses across many samples into a single report
          </h1>
          <p class="typo-blockquote mt-4 lg:mt-8">
            MultiQC searches a given directory for analysis logs and compiles a HTML report. It's a
            general use tool, perfect for summarising the output from numerous bioinformatics tools.
          </p>
          <div class="">
            <HomepageVideos
              videos={[
                {
                  id: "BbScv9TcaMg",
                  title: "Introduction to MultiQC",
                  language: "en",
                },
                {
                  id: "Gg5neIPuiVo",
                  title: "Installing MultiQC",
                  language: "en",
                },
                {
                  id: "cktKbESOOno",
                  title: "Running MultiQC",
                  language: "en",
                },
                {
                  id: "qPbIlO_KWN0",
                  title: "Using MultiQC Reports",
                  language: "en",
                },
                {
                  id: "WX_qVhJ32g0",
                  title: "Introducción a MultiQC",
                  language: "es",
                },
                {
                  id: "E_NJCxwXAGQ",
                  title: "Instalación de MultiQC",
                  language: "es",
                },
                {
                  id: "0MfW7Y8Ocak",
                  title: "¿Cómo ejecutar MultiQC?",
                  language: "es",
                },
              ]}
              client:load
            />
          </div>
        </div>
        <div class="col-full lg:col-4 mt-4 lg:mt-0">
          <Button
            to="https://www.github.com/ewels/MultiQC"
            variant="primary"
            size="md"
            classes="w-full"
          >
            <Icon name="mdi:github" class="mr-3 h-6 w-6" />
            GitHub
          </Button>
          <div class="mt-5">
            <Button
              to="https://pypi.org/project/multiqc/"
              variant="primary"
              size="md"
              classes="w-full"
            >
              <Icon name="mdi:language-python" class="mr-3 h-6 w-6" />
              Python Package Index
            </Button>
          </div>
          <div class="mt-5">
            <Button to="/docs/" variant="primary" size="md" classes="w-full">
              <Icon name="mdi:book-open-variant" class="mr-3 h-6 w-6" />
              Documentation
            </Button>
          </div>
          <div class="mt-5">
            <Button to="/modules/" variant="primary" size="md" classes="w-full">
              <Icon name="mdi:hammer-wrench" class="mr-3 h-6 w-6" />
              114 supported tools
            </Button>
          </div>
          <div class="mt-5">
            <Button
              to="https://join.slack.com/t/multiqc/shared_invite/zt-1ps4q1u5x-2WtAJlZKMzMewURyxAChGA"
              variant="primary"
              size="md"
              classes="w-full"
            >
              <Icon name="mdi:slack" class="mr-3 h-6 w-6" />
              Get help on Slack
            </Button>
          </div>
          <div class="mt-5">
            <Button to="https://twitter.com/MultiQC" variant="primary" size="md" classes="w-full">
              <Icon name="mdi:twitter" class="mr-3 h-6 w-6" />
              Follow on Twitter
            </Button>
          </div>
          <div class="mt-5">
            <Button to="/citation/" variant="primary" size="md" classes="w-full">
              <Icon name="mdi:paperclip" class="mr-3 h-6 w-6" />
              Citation
            </Button>
          </div>
          <div class="mt-5">
            <div class="overflow-hidden rounded-md border border-blue-600 bg-gray-800 shadow">
              <div
                class="flex items-center justify-center border-b border-blue-600 bg-blue-600 py-2"
              >
                <Icon name="mdi:terminal" class="mr-3 h-6 w-6" />
                <span class="typo-intro">Quick install</span>
              </div>

              <SnippetBox
                snippets={[
                  {
                    title: "pip",
                    code: `pip install multiqc  <span class="text-gray-500"># Install</span>\nmultiqc .            <span class="text-gray-500"># Run</span>`,
                  },
                  {
                    title: "conda",
                    code: `conda install multiqc  <span class="text-gray-500"># Install</span> <a href="https://bioconda.github.io/#usage" target="_blank" class="text-gray-500" title="# Set up Bioconda first"><svg class="inline w-17 h-17" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="currentColor" d="M2.725 21q-.275 0-.5-.138t-.35-.362q-.125-.225-.138-.488t.138-.512l9.25-16q.15-.25.388-.375T12 3q.25 0 .488.125t.387.375l9.25 16q.15.25.138.513t-.138.487q-.125.225-.35.363t-.5.137H2.725ZM12 18q.425 0 .713-.288T13 17q0-.425-.288-.713T12 16q-.425 0-.713.288T11 17q0 .425.288.713T12 18Zm0-3q.425 0 .713-.288T13 14v-3q0-.425-.288-.713T12 10q-.425 0-.713.288T11 11v3q0 .425.288.713T12 15Z"/></svg></a>\nmultiqc .              <span class="text-gray-500"># Run</span>`,
                  },
                  {
                    title: "docker",
                    code: "docker run -t -v pwd:pwd -w pwd \\\n    ewels/multiqc .",
                  },
                ]}
                client:idle
              />
            </div>
            <p class="mt-2 text-xs font-light text-gray-300">
              Need a little more help?
              <a
                href="/docs/getting_started/installation/"
                class="underline underline-offset-4 hover:text-gray-200"
              >
                See the full installation instructions
              </a>
              .
            </p>
          </div>
        </div>
      </div>
    </div>
  </Hero>
  <div class="container-lg py-20">
    <div class="row">
      <div class="col-full">
        <h2 class="typo-h3 mb-4">Example reports</h2>
        <p class="typo-blockquote mb-4">
          MultiQC collects numerical stats from each module at the top the report, so that you can
          track how your data behaves as it proceeds through your analysis.
        </p>
        <div class="mt-4 md:mt-8">
          <Button to="/example-reports/" variant="primary" size="md" arrow={true} client:visible>
            See all example reports
          </Button>
        </div>
        <div class="mt-8 hidden md:block">
          <ExamplesBrowser items={exampleReports} hasDetails client:visible />
        </div>
      </div>
    </div>
  </div>
  <div class="container-sm py-20">
    <div class="text-center">
      <h2 class="typo-h3 mx-auto mb-4 max-w-2xl">
        Ever spent ages collecting reports and wading through log file output?
      </h2>
      <p class="typo-blockquote">Here's the answer to your frustrations...</p>
    </div>
    <div class="row">
      <div class="col-full md:col-6 mt-8 md:mt-16">
        <h3 class="typo-h4 mb-4">Visualise statistics from your pipeline</h3>
        <p class="typo-body">
          MultiQC collects numerical stats from each module at the top the report, so that you can
          track how your data behaves as it proceeds through your analysis.
        </p>
      </div>
      <div class="col-full md:col-6 mt-8 md:mt-16">
        <h3 class="typo-h4 mb-4">Plot all of your samples together</h3>
        <p class="typo-body">
          Visualizing your samples together allows detailed comparison, not possible by scanning one
          report after another.
        </p>
      </div>
      <div class="col-full md:col-6 mt-8 md:mt-16">
        <h3 class="typo-h4 mb-4">Supports your favourite tools</h3>
        <p class="typo-body">
          MultiQC comes supports many common bioinformatics tools out of the box. If you're missing
          something, just create an issue on GitHub to request it - if you have an example log file
          it's usually pretty fast.
        </p>
      </div>
      <div class="col-full md:col-6 mt-8 md:mt-16">
        <h3 class="typo-h4 mb-4">Extensible and documented</h3>
        <p class="typo-body">
          Want to use this to do something fancy? MultiQC is structured to allow easy extension and
          customisation with plugin hooks, a submodule framework and simple templating. Everything
          is well documented, with step by step instructions for writing your new tool.
        </p>
      </div>
    </div>
  </div>
  <div class="container-md mb-20 md:py-10">
    <Card>
      <div class="flex flex-wrap justify-center gap-4 text-center">
        <div class="mx-8 my-4 lg:mx-12">
          <h3 class="flex items-center justify-center">
            <Icon name="mdi:terminal" class="mr-3 h-6 w-6 text-gray-300" />
            <span class="typo-intro">Simple installation</span>
          </h3>
        </div>
        <div class="mx-8 my-4 lg:mx-12">
          <h3 class="flex items-center justify-center">
            <Icon name="mdi:folder-search-outline" class="mr-3 h-6 w-6 text-gray-300" />
            <span class="typo-intro">Search any directory</span>
          </h3>
        </div>
        <div class="mx-8 my-4 lg:mx-12">
          <h3 class="flex items-center justify-center">
            <Icon name="mdi:laptop" class="mr-3 h-6 w-6 text-gray-300" />
            <span class="typo-intro">View report in a web browser</span>
          </h3>
        </div>
        <div class="mx-8 my-4 lg:mx-12">
          <h3 class="flex items-center justify-center">
            <Icon name="bi:file-earmark-zip" class="mr-3 h-6 w-6 text-gray-300" />
            <span class="typo-intro">Zip file for easy sharing</span>
          </h3>
        </div>
        <div class="mx-8 my-4 lg:mx-12">
          <h3 class="flex items-center justify-center">
            <Icon name="mdi:script-text-outline" class="mr-3 h-6 w-6 text-gray-300" />
            <span class="typo-intro">Extensible & well documented</span>
          </h3>
        </div>
      </div>
    </Card>
  </div>
  <div class="bg-gray-200/40 text-gray-900 dark:bg-gray-700/60 dark:text-gray-50">
    <div class="container-lg py-20 text-center">
      <h2 class="typo-h3 mx-auto mb-4 max-w-5xl">
        Install from the
        <a href="https://pypi.python.org/pypi/multiqc" class="typo-link-no-underline">
          Python Package Index</a
        >
        or
        <a
          href="https://bioconda.github.io/recipes/multiqc/README.html"
          class="typo-link-no-underline"
        >
          Bioconda</a
        >
      </h2>
      <p class="typo-blockquote mx-auto mb-3 max-w-5xl">
        To install MultiQC, simply run
        <code
          class="text-md rounded-sm bg-gray-200 px-2 tracking-tighter text-zinc-800 dark:bg-gray-800/50 dark:text-white"
        >
          pip install multiqc</code
        >
        on the command line.
      </p>
      <p class="typo-blockquote mx-auto mb-3 max-w-5xl">
        If you use conda, you can run
        <code
          class="text-md rounded-sm bg-gray-200 px-2 tracking-tighter text-zinc-800 dark:bg-gray-800/50 dark:text-white"
        >
          conda install multiqc</code
        >
        instead.
      </p>
      <p class="typo-blockquote mx-auto mb-3 max-w-5xl">
        See the
        <a href="/docs/usage/installation" class="typo-link"> installation instructions</a>
        for more help.
      </p>
      <div class="mt-5 flex flex-col justify-center md:flex-row lg:mt-10">
        <div class="md:mr-4">
          <Button to="/docs/" variant="secondary" size="md">
            <Icon name="mdi:book-outline" class="mr-3 h-6 w-6" />
            Documentation
          </Button>
        </div>
        <div class="mt-4 md:mr-4 md:mt-0">
          <Button to="https://github.com/ewels/MultiQC/" variant="secondary" size="md">
            <Icon name="mdi:github" class="mr-3 h-6 w-6" />
            View on GitHub
          </Button>
        </div>
        <div class="mt-4 md:mt-0">
          <Button to="/project/multiqc/" variant="secondary" size="md">
            <Icon name="mdi:language-python" class="mr-3 h-6 w-6" />
            View on PyPI
          </Button>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<script client:load>
  // Redirect anchor links from old website
  const urlHashRedirects = {
    "#supported-tools": "/modules",
    "#publication": "/citation",
  };
  if (window.location.hash.length) {
    for (const [anchor, newURL] of Object.entries(urlHashRedirects)) {
      console.log(window.location.hash, anchor);
      if (window.location.hash === anchor) {
        window.location.replace(newURL);
      }
    }
  }
</script>
