---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@layouts/Hero.astro";
import { Icon } from "astro-icon";
---

<BaseLayout title="MultiQC Logos">
  <Hero>
    <div class="container-lg relative">
      <h1 class="typo-h2">Grab some MultiQC logos!</h1>
      <p class="typo-blockquote mt-4 lg:mt-8">
        Perfect for talks, posters, stickers, desktop backgrounds or whatever else you fancy!
      </p>
    </div>
  </Hero>
  <div class="container-lg py-20">
    <div class="grid-cols-2 gap-8 lg:grid">
      <div>
        <h2 class="typo-h3 mb-4">Introduction</h2>
        <p class="typo-body mb-4">
          The MultiQC logos are available at
          <a href="https://github.com/MultiQC/logo" class="text-blue-400"
            >https://github.com/MultiQC/logo</a
          >
          and are included below for convenience. You are free to use the MultiQC logos in any way you
          wish. They are available under the
          <a href="https://choosealicense.com/licenses/mit/" class="text-blue-400">MIT licence</a>.
        </p>
        <p class="typo-body mb-4">
          If possible, please try to link back to the main MultiQC website when you use a logo:
          <a href="https://multiqc.info/" class="text-blue-400">https://multiqc.info/</a>.
        </p>
        <p class="typo-body">
          Need another variant? Let me know on the
          <a href="https://gitter.im/ewels/MultiQC" class="text-blue-400">MultiQC Gitter chat!</a>
        </p>
      </div>
      <div>
        <h3 class="typo-h4 mb-4">Design Details</h3>
        <p class="typo-body mb-4">
          <strong>Font:</strong>
          <span>
            Roboto Medium 500 (available from
            <a href="https://fonts.google.com/specimen/Roboto" class="text-blue-400">Google Fonts</a
            >
            )
          </span>
        </p>
        <div class="row">
          <p class="col-4 typo-body mb-4">
            <strong>Text Colour:</strong>
            <span style="background-color:#000000;">#000000</span>
          </p>
          <p class="col-4 typo-body mb-4">
            <strong>Colour 1:</strong>
            <span style="background-color:#BE1622;">#BE1622</span>
          </p>
        </div>
        <div class="row">
          <p class="col-4 typo-body mb-4">
            <strong>Colour 2:</strong>
            <span style="background-color:#009640;">#009640</span>
          </p>
          <p class="col-4 typo-body mb-4">
            <strong>Colour 3:</strong>
            <span style="background-color:#1D71B8;">#1D71B8</span>
          </p>
        </div>
      </div>
    </div>

    <div class="my-8 grid grid-cols-1 gap-8 lg:grid-cols-2">
      <div class="grid place-items-center bg-gray-200 p-1">
        <img class="max-h-44 w-10/12 p-4" src="../logos/multiqc_logo.svg" alt="MultiQC Logo" />
      </div>
      <div>
        <h3 class="typo-h4 mb-4">MultiQC Logo</h3>
        <ul class="typo-body text-blue-400">
          <li>
            <a href="../logos/multiqc_logo.png" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo.svg" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo.ai" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              Illustrator</a
            >
          </li>
        </ul>
      </div>
      <div class="grid place-items-center bg-gray-800 p-1">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_darkbg.svg"
          alt="MultiQC Logo, dark backgrounds"
        />
      </div>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">MultiQC Logo (dark background)</h3>
        <ul class="typo-body text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_darkbg.png" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_darkbg.svg" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_darkbg.ai" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              Illustrator</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="my-8 grid grid-cols-1 gap-8 lg:grid-cols-4">
      <div class="grid place-items-center bg-gray-200 p-1">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_square.svg"
          alt="MultiQC Square Thumbnail"
        />
      </div>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">MultiQC Square Thumb</h3>
        <ul class="typo-body text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_square.png" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_square.svg" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_square.ai" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              Illustrator</a
            >
          </li>
        </ul>
      </div>
      <div class="grid place-items-center bg-gray-200 p-1">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_circle.svg"
          alt="MultiQC Circle Thumbnail"
        />
      </div>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">MultiQC Circle Thumb</h3>
        <ul class="typo-body text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_circle.png" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_circle.svg" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_circle.ai" class="hover:text-blue-600">
              <Icon class="-mt-1 mr-2.5 h-6 w-6 inline" name="mdi:arrow-down-bold-circle-outline" />
              Illustrator</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss"></style>
