---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/Card.astro";
import { Icon } from "astro-icon";
---

<BaseLayout title="MultiQC Logos">
  <Hero>
    <div class="container-lg relative">
      <h1 class="typo-h2">Grab some MultiQC logos!</h1>
      <p class="typo-blockquote mt-4 lg:mt-8">
        Perfect for talks, posters, stickers, desktop backgrounds or whatever else you fancy!
      </p>
    </div>
  </Hero>
  <div class="container-lg py-20">
    <div class="grid-cols-2 gap-8 lg:grid">
      <div>
        <h2 class="typo-h3 mb-4">Introduction</h2>
        <p class="typo-body mb-4">
          The MultiQC logos are available at
          <!-- TODO: LINK TO NEW SEQERA MEDIA PAGE WHEN READY -->
          <a href="https://seqera.io" class="typo-link">https://seqera.io</a>
          and are included below for convenience. You are free to use the MultiQC logos when presenting
          work that uses the tool.
        </p>
        <p class="typo-body mb-4">
          If possible, please try to link back to the main MultiQC website when you use a logo:
          <a href="https://multiqc.info/" class="typo-link">https://multiqc.info/</a>.
        </p>
        <p class="typo-body">
          Need another variant? Let us know on the
          <a href="https://community.seqera.io/c/multiqc/6" class="typo-link"
            >MultiQC community forum!</a
          >
        </p>
      </div>
      <div class="my-12 lg:my-0">
        <h3 class="typo-h3 mb-4">Design Details</h3>
        <dl class="typo-body lg:row mb-4">
          <dt class="lg:col-3 font-semibold lg:text-right">Brand colour:</dt>
          <dd class="lg:col-9 mb-4 lg:mb-0">
            <span
              class="rounded-sm px-2 py-1 font-mono text-sm text-white"
              style="background-color:#F18046;">#F18046</span
            >
          </dd>
          <dt class="lg:col-3 font-semibold lg:text-right">Text colour:</dt>
          <dd class="lg:col-9 mb-4 lg:mb-0">
            <span
              class="rounded-sm px-2 py-1 font-mono text-sm text-white"
              style="background-color:#160F26;">#160F26</span
            > /
            <span
              class="rounded-sm px-2 py-1 font-mono text-sm text-black"
              style="background-color:#FFFFFF;">#FFFFFF</span
            >
          </dd>
        </dl>
      </div>
    </div>

    <h3 class="typo-h3 mb-4 mt-16">Logos</h3>
    <div class="my-8 grid grid-cols-2 gap-12">
      <Card classes="grid place-items-center bg-gray-200">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_color.svg"
          alt="MultiQC Logo"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4">Colour</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_color.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_color.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
      <Card classes="grid place-items-center bg-gray-800">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_darkbg.svg"
          alt="MultiQC Logo, dark backgrounds"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">Dark background</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_darkbg.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_darkbg.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
      <Card classes="grid place-items-center bg-gray-200">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_dark.svg"
          alt="MultiQC Logo, dark backgrounds"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">Dark</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_dark.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_dark.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
      <Card classes="grid place-items-center bg-gray-800">
        <img
          class="max-h-44 w-10/12 p-4"
          src="../logos/multiqc_logo_white.svg"
          alt="MultiQC Logo, dark backgrounds"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">White</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="../logos/multiqc_logo_white.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_logo_white.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
    </div>

    <h3 class="typo-h3 mb-4 mr-16">Icons</h3>
    <div class="my-8 grid grid-cols-2 gap-8 lg:grid-cols-6">
      <Card classes="grid place-items-center bg-gray-200">
        <img
          class="max-h-44 w-10/12"
          src="/logos/multiqc_icon_color.svg"
          alt="MultiQC Circle Thumbnail"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">Colour</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="/logos/multiqc_icon_color.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="/logos/multiqc_icon_color.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
      <Card classes="grid place-items-center bg-gray-200">
        <img
          class="max-h-44 w-10/12"
          src="../logos/multiqc_icon_dark.svg"
          alt="MultiQC Circle Thumbnail"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">Dark</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="../logos/multiqc_icon_dark.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_icon_dark.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
      <Card classes="grid place-items-center bg-gray-800">
        <img
          class="max-h-44 w-10/12"
          src="../logos/multiqc_icon_white.svg"
          alt="MultiQC Circle Thumbnail"
        />
      </Card>
      <div>
        <h3 class="typo-h4 mb-4 mr-10">White</h3>
        <ul class="typo-body text-blue-600 dark:text-blue-400">
          <li>
            <a href="../logos/multiqc_icon_white.png" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              PNG</a
            >
          </li>
          <li class="mt-4">
            <a href="../logos/multiqc_icon_white.svg" class="typo-link-no-underline">
              <Icon class="-mt-1 mr-2.5 inline h-6 w-6" name="mdi:arrow-down-bold-circle-outline" />
              SVG</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss"></style>
