---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@layouts/Hero.astro";
import { Icon } from "astro-icon";
---

<BaseLayout title="MultiQC Logos">
  <Hero>
    <div class="container-lg relative">
      <h1 class="typo-h2">Grab some MultiQC logos!</h1>
      <p class="typo-blockquote mt-4 lg:mt-8">
        Perfect for talks, posters, stickers, desktop backgrounds or whatever else you fancy!
      </p>
    </div>
  </Hero>
  <div class="container-lg py-20">
    <h2 class="typo-h3 mb-4">Introduction</h2>
    <p class="typo-body mb-4">
      The MultiQC logos are available at
      <a href="https://github.com/MultiQC/logo" class="text-blue-400"
        >https://github.com/MultiQC/logo</a
      >
      and are included below for convenience. You are free to use the MultiQC logos in any way you wish.
      They are available under the
      <a href="https://choosealicense.com/licenses/mit/" class="text-blue-400">MIT licence</a>
      .
    </p>
    <p class="typo-body mb-4">
      If possible, please try to link back to the main MultiQC website when you use a logo:
      <a href="https://multiqc.info/" class="text-blue-400">https://multiqc.info/</a>
    </p>
    <p class="typo-body">
      Need another variant? Let me know on the
      <a href="https://gitter.im/ewels/MultiQC" class="text-blue-400">MultiQC Gitter chat!</a>
    </p>
    <h3 class="typo-h4 mt-8 mb-4">Design Details</h3>
    <p class="typo-body mb-4">
      <strong>Font:</strong>
      <span>
        Roboto Medium 500 (available from
        <a href="https://fonts.google.com/specimen/Roboto" class="text-blue-400">Google Fonts</a>
        )
      </span>
    </p>
    <p class="typo-body mb-4">
      <strong>Text Colour:</strong>
      <span>#000000</span>
    </p>
    <p class="typo-body mb-4">
      <strong>Colour 1:</strong>
      <span>#BE1622</span>
    </p>
    <p class="typo-body mb-4">
      <strong>Colour 2:</strong>
      <span>#009640</span>
    </p>
    <p class="typo-body mb-4">
      <strong>Colour 3:</strong>
      <span>#1D71B8</span>
    </p>
    <h3 class="typo-h4 mt-8 mb-4">MultiQC Logo</h3>
    <div class="row mb-4">
      <div class="col-full sm:col-6">
        <div class="bg-gray-200 p-10">
          <img src="../logos/multiqc_logo.png" alt="MultiQC Logo" />
        </div>
      </div>
    </div>
    <ul class="text-blue-400">
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo.png">PNG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo.svg">SVG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo.ai">Illustrator CS5</a>
      </li>
    </ul>
    <h3 class="typo-h4 mt-8 mb-4">MultiQC Logo (dark background)</h3>
    <div class="row mb-4">
      <div class="col-full sm:col-6">
        <div class="bg-gray-800 p-10">
          <img src="../logos/multiqc_logo_darkbg.png" alt="MultiQC Logo, dark backgrounds" />
        </div>
      </div>
    </div>
    <ul class="text-blue-400">
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_darkbg.png">PNG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_darkbg.svg">SVG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_darkbg.ai">Illustrator CS5</a>
      </li>
    </ul>
    <h3 class="typo-h4 mt-8 mb-4">MultiQC Square Thumb</h3>
    <div class="row mb-4">
      <div class="col-6 sm:col-3">
        <div class="bg-gray-200 p-10">
          <img src="../logos/multiqc_logo_square.png" alt="MultiQC Square Thumbnail" />
        </div>
      </div>
    </div>
    <ul class="text-blue-400">
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_square.png">PNG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_square.svg">SVG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_square.ai">Illustrator CS5</a>
      </li>
    </ul>
    <h3 class="typo-h4 mt-8 mb-4">MultiQC Circle Thumb</h3>
    <div class="row mb-4">
      <div class="col-6 sm:col-3">
        <div class="bg-gray-200 p-10">
          <img src="../logos/multiqc_logo_circle.png" alt="MultiQC Circle Thumbnail" />
        </div>
      </div>
    </div>
    <ul class="text-blue-400">
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_circle.png">PNG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_circle.svg">SVG</a>
      </li>
      <li class="typo-body mt-4 flex first:mt-0">
        <Icon class="mt-1 mr-2.5 h-6 w-6" name="mdi:check" />
        <a href="../logos/multiqc_logo_circle.ai">Illustrator CS5</a>
      </li>
    </ul>
  </div>
</BaseLayout>

<style lang="scss"></style>
