---
export interface Props {
  classes?: string;
  centered?: boolean;
}

const { classes = "", centered = false } = Astro.props;
let extra_classes = classes + (centered ? " items-center justify-center" : "");
---

<div
  class={"flex flex-col h-full rounded-md border border-zinc-200 py-6 px-4 sm:py-8 sm:px-8 shadow-xl dark:border-zinc-700 dark:shadow-zinc-900 " +
    extra_classes}
>
  <slot />
</div>
