---
import Card from "@components/Card.astro";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
  url: string;
  icon: string;
  icon_classes?: string;
}

const { title, url, icon, icon_classes = "" } = Astro.props;
---

<Card>
  <a href={url} class="group block h-max sm:-m-8">
    <div
      class="flex h-32 items-center justify-center rounded-t-md bg-gray-200 dark:bg-gray-900/50 sm:h-44"
    >
      <Icon
        name={icon}
        class={"w-20 h-20 group-hover:scale-105 transition-all dark:fill-white " + icon_classes}
      />
    </div>
    <div class="p-8">
      <h3
        class="typo-h4 dark:group-hover:text-blue-3000 mb-4 text-blue-600 group-hover:text-blue-500 dark:text-blue-400"
      >
        {title}
      </h3>
      <p><slot /></p>
    </div>
  </a>
</Card>
