---
export interface Props {
  src: string;
}

const { src } = Astro.props;

// fetch remote svg file
const svg = await fetch(src).then((res) => res.text());
---

<p>
  <Fragment set:html={svg}>
    <slot />
  </Fragment>
</p>
