---
import PageLayout from "@layouts/PageLayout.astro";
import fs from "node:fs/promises";
import { Code } from "astro/components";
import { parse, stringify } from "yaml";
import { Icon } from "astro-icon";
import Button from "@components/Button.svelte";

import search_patterns from "../../../../MultiQC/multiqc/utils/search_patterns.yaml";

export async function getStaticPaths() {
  const modules = await Astro.glob("../../../../MultiQC/docs/modules/**/*.md");

  return modules.map((module) => ({
    params: {
      module: module.file.split("/").pop().replace(".md", ""),
    },
    props: {
      module: module,
      frontmatter: module.frontmatter,
      search_patterns: search_patterns,
    },
  }));
}

const { Content, frontmatter } = Astro.props.module;
const gh_url =
  "https://github.com/ewels/MultiQC/blob/master/docs/modules/" +
  Astro.props.module.file.split("/").pop();

// Filter search_patterns to only include keys containing key string
const module_search_patterns = Object.keys(Astro.props.search_patterns)
  .filter((key) => key.includes(Astro.props.module.file.split("/").pop().replace(".md", "")))
  .reduce((obj, key) => {
    obj[key] = Astro.props.search_patterns[key];
    return obj;
  }, {});
---

<PageLayout
  title={"Module: " + frontmatter.name}
  subtitle={frontmatter.description}
  md_github_url={gh_url}
>
  <div class="prose max-w-none dark:prose-invert">
    <h2>Description</h2>
    <Content />
    {
      Object.keys(module_search_patterns).length > 0 && (
        <>
          <h2>File search patterns</h2>
          <Code code={stringify(module_search_patterns, null, 2)} lang="yaml" />
        </>
      )
    }
  </div>
  <div class="text-center">
    <Button to="/docs/modules" variant="secondary" size="sm" classes="mt-12">
      <Icon name="mdi:arrow-left" class="h-4 w-4 mr-2 -ml-1" />
      Back to all modules
    </Button>
  </div>
</PageLayout>
