---
import PageLayout from "@layouts/PageLayout.astro";

export async function getStaticPaths() {
  const modules = await Astro.glob("../../../../MultiQC/docs/modules/**/*.md");
  return modules.map((module) => ({
    params: {
      module: module.file.split("/").pop().replace(".md", ""),
    },
    props: {
      module: module,
      frontmatter: module.frontmatter,
    },
  }));
}

const { Content, frontmatter } = Astro.props.module;
const gh_url =
  "https://github.com/ewels/MultiQC/blob/master/docs/modules/" +
  Astro.props.module.file.split("/").pop();
---

<PageLayout
  title={"Module: " + frontmatter.Name}
  subtitle={frontmatter.Description}
  md_github_url={gh_url}
>
  <div class="prose max-w-none dark:prose-invert">
    <Content />
  </div>
</PageLayout>
