---
import PageLayout from "@layouts/PageLayout.astro";
import { Code } from "astro/components";
import { parse, stringify } from "yaml";
import { Icon } from "astro-icon/components";
import Button from "@components/Button.svelte";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const modules = await getCollection("modules");

  return modules.map((module) => ({
    params: {
      module: module.slug,
    },
    props: {
      module: module,
      frontmatter: module.data,
    },
  }));
}

const { module, frontmatter } = Astro.props;

const { headings, Content, remarkPluginFrontmatter } = await module.render();
const gh_url =
  "https://github.com/MultiQC/MultiQC/blob/main/docs/modules/" + module.id.split("/").pop();
---

<PageLayout
  title={frontmatter.name}
  subtitle={frontmatter.summary}
  extra_subtitle={frontmatter.extra_description}
  section="Supported Tool"
  md_github_url={gh_url}
  image={frontmatter.social_image
    ? frontmatter.social_image
    : `/og.png?section=${encodeURIComponent("Supported Tool")}&title=${encodeURIComponent(
        frontmatter.name,
      )}`}
>
  <div class="text-center">
    <Button to="/modules" variant="secondary" size="sm" classes="mt-12">
      <Icon name="mdi:arrow-left" class="-ml-1 mr-2 h-4 w-4" />
      Back to all modules
    </Button>
  </div>
</PageLayout>
