---
import SidebarToc from "@components/sidebars/SidebarToc.svelte";
import CommunityLinks from "@components/CommunityLinks.astro";
import Button from "@components/Button.svelte";
import { Icon } from "astro-icon";

export interface Props {
  community_links: {
    url: string;
    icon: string;
    text: string;
  }[];
  headings?: {
    depth: number;
    text: string;
    slug: string;
  }[];
}

const { headings, community_links } = Astro.props;
---

<nav class="text-gray-600 dark:text-gray-400">
  {
    headings && headings.length > 0 && (
      <>
        <h5 class="mb-2 text-xs font-semibold">On this page</h5>
        <SidebarToc headings={headings} client:visible />
      </>
    )
  }

  <CommunityLinks links={community_links} />

  <Button
    to={"#"}
    variant="accent"
    size="xs"
    classes="my-6 border dark:border-gray-700/50 hover:dark:border-gray-700 border-gray-300/30 hover:border-gray-300/70"
  >
    <Icon name="mdi:arrow-collapse-up" class="mr-2 inline-block h-3 w-3" /> Back to top
  </Button>
  <slot />
</nav>
