---
import "../fonts/sf-ui-display/main.css";
import BaseHead from "@components/BaseHead.astro";
import "../styles/main.css";
import Header from "./Header.astro";

export interface Props {
  title?: string;
  subtitle?: string;
  image?: string;
  md_github_url?: string;
  subfooter?: string;
}

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const {
  title = SITE_TITLE,
  subtitle = SITE_DESCRIPTION,
  image = "",
  md_github_url,
  subfooter = false,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={subtitle} image={image} />
  </head>
  <body class="bg-zinc-100 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-100">
    <Header />
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
