---
import HeroBackgroundSrc from "/images/background.png";
---

<div class="relative bg-gray-800 py-16 text-gray-100 md:pb-20">
  <div
    class="absolute inset-0"
    style={{ backgroundImage: `url(${HeroBackgroundSrc})`, backgroundPositionY: "-6rem" }}
  >
  </div>
  <slot />
</div>
