---
import HeroBackgroundSrc from "../images/background.png";
---

<div class="relative bg-gray-800 pb-16 pt-28 text-gray-100 md:pb-20">
  <div class="absolute inset-0" style={{ backgroundImage: `url(${HeroBackgroundSrc})` }}></div>
  <slot />
</div>
