---
import { Icon } from "astro-icon";
import NavbarDocsNavSection from "@layouts/NavbarDocsNavSection.astro";

// Fetch the config.yml that has section titles and order of pages
import docs_nav from "../../../MultiQC/docs/core/config.yaml";

export interface Props {
  title?: string;
}
const { title } = Astro.props;

// Figure out the current section
var current_section = "TODO";
docs_nav["nav"].forEach((section) => {
  Object.values(section)[0].forEach((filename) => {
    var url = "/docs/" + filename.replace(/\.md$/, "").replace(/index$/, "");
    if (Astro.url.pathname == url) {
      current_section = Object.keys(section)[0];
    }
  });
});
---

<header
  class="typo-small mt-2 border-t border-b border-gray-700 bg-gray-800/40 py-2 text-gray-300 lg:hidden"
>
  <button class="transition-colors hover:text-gray-100">
    <Icon name="mdi:dots-vertical" class="inline-block h-6 w-8" />
  </button>
  {current_section}
  <Icon name="mdi:chevron-right" class="inline-block w-6" />
  {title}
</header>

<div class="fixed inset-0 z-50 hidden">
  <div class="fixed inset-0 backdrop-blur-sm"></div>
  <nav
    class="side-nav relative h-screen w-80 max-w-[calc(100%-3rem)] overflow-y-auto bg-gray-800 p-5 text-gray-600 dark:text-gray-400"
  >
    <button class="float-right">
      <Icon name="mdi:close" class="inline-block h-6 w-8" />
    </button>
    {
      docs_nav["nav"].map((section) => (
        <section class="mb-6">
          <h5 class="mb-2 font-semibold">{Object.keys(section)[0]}</h5>
          <NavbarDocsNavSection section={section} />
        </section>
      ))
    }
  </nav>
</div>
