---
import SidebarNavSection from "@layouts/SidebarNavSection.astro";

// Fetch the config.yml that has section titles and order of pages
import docs_nav from "../../../MultiQC/docs/core/config.yaml";
---

<nav class="side-nav text-gray-600 dark:text-gray-500">
  {
    docs_nav["nav"].map((section) => (
      <section class="mb-6">
        <h5 class="mb-2 font-semibold">{Object.keys(section)[0]}</h5>
        <SidebarNavSection section={section} current_page={Astro.url.pathname} />
      </section>
    ))
  }
</nav>
