---
import SidebarNavSection from "@layouts/SidebarNavSection.astro";
import fs from "node:fs/promises";
import { parse } from "yaml";

// Fetch the config.yml that has section titles and order of pages
const docs_nav_url = new URL("../../../MultiQC/docs/core/config.yaml", import.meta.url);
const docs_nav_url_yaml = await fs.readFile(docs_nav_url, "utf-8");
const docs_nav = parse(docs_nav_url_yaml);

export interface Props {
  docs_pages: {
    slug: string;
    frontmatter: {
      title: string;
      order: number;
    }[];
  }[];
}
const { docs_pages } = Astro.props;
---

<nav class="side-nav text-gray-600 dark:text-gray-500">
  <ul>
    {
      docs_nav["nav"].map((section) => (
        <li class="typo-intro mb-4">
          {Object.keys(section)[0]}
          <SidebarNavSection section={section} docs_pages={docs_pages} />
        </li>
      ))
    }
  </ul>
</nav>
