@font-face {
  font-family: "Degular";
  src: url("Degular-Thin.woff") format("woff"), url("Degular-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-ThinItalic.woff") format("woff"),
    url("Degular-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("Degular-Light.woff") format("woff"), url("Degular-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-LightItalic.woff") format("woff"),
    url("Degular-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("Degular-Regular.woff") format("woff"), url("Degular-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-RegularItalic.woff") format("woff"),
    url("Degular-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-Medium.woff") format("woff"), url("Degular-Medium.woff2Italic") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: italic;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-MediumItalic.woff") format("woff"),
    url("Degular-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("Degular-Semibold.woff") format("woff"), url("Degular-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("DegularItalic-Semibold.woff") format("woff"),
    url("Degular-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("Degular-Bold.woff") format("woff"), url("Degular-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-BoldItalic.woff") format("woff"),
    url("Degular-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("Degular-Black.woff") format("woff"), url("Degular-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Degular";
  src: url("Degular-BlackItalic.woff") format("woff"),
    url("Degular-BlackItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
